<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flyerwge.eduservice.mapper.EduTeacherMapper">
    <update id="updateById">
        update edu_teacher set is_deleted = 1 where id = #{id} and is_deleted = 0
    </update>

    <select id="selectLevelTeacherNum" resultType="java.lang.Integer">
        select count(*) from edu_teacher where level= #{level}
    </select>

</mapper>
